/**************************************************************************************************
MOVIE CARD STYLES
**************************************************************************************************/
@import '../app_main/styles.scss';

.movie-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;

    background: $movieBkgd;
    color: $movieText;

    .poster-spacer {
        //background: green;
        height: 100%;
    
        .poster-format {
            max-height: 100%;
        }
    }

    .info-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1; 
        padding: 5px 8px 5px 8px;

        .small-font {
            font-size: 88%;
        }
        .imdb-link, .imdb-link:visited {
            font-size: 88%;
            color: $movieText;
        }
        .star-icon {
            height: 20px;
            margin-right: 1px;
            cursor: pointer;
        }
        .service-link, .service-link:visited {
            font-family: Comic Sans MS, Comic Sans, cursive;
            color: $movieHighlight;
        }
    }
}

