/**************************************************************************************************
CONTENT BLOCK STYLES
**************************************************************************************************/
@import '../app_main/styles.scss';

.content-wrapper {

    // font formatting

    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: $contentText;

    // font types

    .page-title {
        font-family: 'Gill Sans', sans-serif;
        font-weight: bold;
        font-size: 200%;
        text-shadow: -1px 0px 2px $contentHighlight, 1px 0px 2px $contentHighlight, 0px 1px 2px $contentHighlight, 0px -1px 2px $contentHighlight;
        text-align: center;
        white-space: nowrap;
        text-transform: uppercase;
    }
    .heading {
        font-family: 'Gill Sans', sans-serif;
        font-weight: bold;
        font-size: 160%;
    }
    .subheading {
        font-family: 'Gill Sans', sans-serif;
        font-weight: bold;
        font-size: 120%;
        text-decoration: underline;
    }
    .entry-title {
        font-weight: bold;
        white-space: nowrap;
    }
    .link-format {
        color: aqua;
        text-decoration: underline;
    }
    .strong-font {
        font-weight: bold;
    }
    .small-font {
        font-size: 88%;
    }

    // general page styling

    .spacing-outer {
        padding: 12px;
    }
    .spacing-inner {
        margin: 12px;
    }
    .spacing-inner-large {
        margin: 20px;
    }
    .center-both {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .left-panel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .spaced-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .even-panel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .panel-new-line {
        flex-basis: 100%;       // takes up a whole row
        height: 0;
    }

    .control-island {
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: left;
    
        background: $controlBkgd;
        border: 1px solid $contentHighlight;
        border-radius: 5px;
    }
    .control-outer {
        padding: 6px;

        .control-inner {
            display: inline-block;
            margin: 8px;
        }
    }

    // specific page styling

    .sticky-top {
        position: sticky;
        top: 0px;           
        background: $contentBkgd;
        border-bottom: 1px solid $controlBkgd;
    }

    .graph-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .tiny-plot {
        width: 400px;
        height: 300px;
        border: 1px solid $contentHighlight;
    }
    .small-plot {
        width: 500px;
        height: 400px;
        border: 1px solid $contentHighlight;
    }
    .medium-plot {
        width: 600px;
        height: 400px;
        border: 1px solid $contentHighlight;
    }
    .large-plot {
        width: 700px;
        height: 400px;
        border: 1px solid $contentHighlight;
    }
    .jumbo-plot {
        width: 800px;
        height: 500px;
        border: 1px solid $contentHighlight;
    }
}

