/**************************************************************************************************
CONTENT BLOCK STYLES
**************************************************************************************************/
@import '../app_main/styles.scss';

.content-wrapper {

    font-family: Georgia, 'Times New Roman', serif;
    font-size: 16px;
    color: $textColor;

    .grid-spacing {
        margin: 20px 20px 0px 20px;
    }
    .left-panel {
        display: flex;
        flex-direction: row;
    }

    .page-title {
        text-align: center;
        font-size: 200%;

        font-family: Gill Sans, sans-serif;
        font-weight: bold;
        color: $textColor;
    }
    .heading {

    }
    .entry-title {
        font-weight: bold;
        white-space: nowrap;
    }
    .link-format {
        color: aqua;
        text-decoration: underline;
    }
}

