/**************************************************************************************************
MENU LAYOUT STYLES
**************************************************************************************************/
@import '../app_main/styles.scss';

.menu-layout {
   min-height: 100vh;
   min-width: 1024px;       // smallest is ipad screen

   align-content: initial !important;   // reset pure-g so min-height takes effect

    .nav-column {
        background-size: 100% 100%;

        .fixed-panel {
            position: sticky;           // IE, Edge not supported 
            position: -webkit-sticky;   // Safari
            top: 6px;
            
            //height: 100vh;
        }
    }

    .content-column {
        background-size: 100% 100%;
    }
}

