/**************************************************************************************************
LOADING-ICON STYLES
**************************************************************************************************/
@import '../../app_main/styles.scss';

.loading-wrapper {
    // expands to fit parent, use with center-both
    width: 100%;
    height: 100%;

    .loading-icon {
        height: 48px;
    }
}

