/**************************************************************************************************
PAGINATOR STYLES
**************************************************************************************************/
@import '../../app_main/styles.scss';

.paginator-wrapper {

    // shitty react-paginate dev gets all package styling from bootstrap

    .paginate-panel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        font-size: 120%;

        // remove ul styles
        list-style-type: none;
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-inline-start: 0px;

        li {
            display: inline;
            margin: 10px;
            cursor: pointer;
        }
        .active {
            font-weight: bold;
            cursor: not-allowed;          
        }
        .disabled {
            opacity: 0.65; 
            cursor: not-allowed;          
        }
    }
}

